<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="http://localhost:8080/logout">LogOut</a>
  </li>
  <li class="nav-item">
    <p class="nav-link" ><strong> Usuario:</strong> {{user.fisrtName}}</p>
  </li>
  <li class="nav-item">
     <p class="nav-link" > <strong>Email:</strong>  {{user.email}}</p>
  </li>
  
</ul>
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
      {{#each products.docs}}
        <div class="col-md-10">
            <div class="row p-2 bg-white border rounded mt-2">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://i.imgur.com/QpjAiHq.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5>{{this.title}}</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i>Code <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>{{this.code}}</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span>Stock </span><span class="dot"></span><span>{{this.stock}}</span><span class="dot"></span><span><br></span></div>
                    <div class="mt-1 mb-1 spec-1"><span>Category </span><span class="dot"></span><span>{{this.category}}</span><span class="dot"></span><span><br></span></div>
                    <p class="text-justify text-truncate para mb-0">{{this.description}}<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">${{this.price}}</h4><span class="strike-text">${{this.price}}</span>
                    </div>
                    <h6 class="text-success">Free shipping</h6>
                    <div class="d-flex flex-column mt-4"><a class="btn btn-primary" href="http://localhost:8080/carts/6623c13a485e69649f744e72" role="button">Go to Cart</a></div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
        {{#if hasPrevPage}}
            <a class="page-link" href="?page={{prevPage}}">Previous</a>
        {{/if}}
    </li>
    <li class="page-item"><a class="page-link" href="#">Pag : {{page}}</a></li>
    <li class="page-item">
      {{#if hasNextPage}}
             <a class="page-link" href="?page={{nextPage}}">Next</a>
      {{/if}}
    </li>

  </ul>
</nav>
   
  </div>
</div>
 <script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>