<div>
    <h3>Productos webSocket</h3>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
    {{!-- <table>
        <tr>
            <th>ID</th>
            <th>CODE</th>
            <th>TITLE</th>
            <th>DESCRIPTION</th>
            <th>PRICE</th>
            <th>STOCK</th>
            <th>CATEGORY</th>
        </tr>
        {{#each products}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.code}}</td>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.price}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.category}}</td>
            </tr>
        {{/each}}
    </table>
</div> --}}
</div>