<table class="table-container" id="productsTable">
  <thead class="table-title">
    <tr>
      <th class="table-row">Title</th>
      <th class="table-row">Description</th>
      <th class="table-row">Price</th>
      <th class="table-row">Code</th>
      <th class="table-row">Category</th>
      <th class="table-row">Stock</th>
      <th class="table-row">Actions</th>
    </tr>
  </thead>
  <tbody id="tbody">
    {{#each payload}}
    <tr>
      <td class="table-row">{{this.title}}</td>
      <td class="table-row">{{this.description}}</td>
      <td class="table-row">{{this.price}}</td>
      <td class="table-row">{{this.code}}</td>
      <td class="table-row">{{this.category}}</td>
      <td class="table-row">{{this.stock}}</td>
        <td class="table-row">
        {{#if showDeleteButton}}
          <button class="btn btn-danger" onclick="deleteProduct('{{this._id}}')" id="btnDelete"><i class="fa-sharp fa-solid fa-trash"></i></button>
          <button class="btn btn-warning"><i class="fa-solid fa-pen"></i></button>
        {{else}}
          <button class="btn btn-success"><i class="fa-solid fa-cart-shopping"></i></button>
        {{/if}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<div class="pagination">
{{#if hasPrevPage}}
    <a href="{{prevLink}}" class="prev-link btn btn-primary m-3"><i class="fa-solid fa-arrow-left"></i> Previous</a>
  {{/if}}
  {{#if hasNextPage}}
    <a href="{{nextLink}}" class="next-link btn btn-primary m-3">Next <i class="fa-solid fa-arrow-right"></i></a>
  {{/if}}
</div>